services:
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - chirra-network-prod

  postgres:
    image: postgres:17
    restart: always
    env_file:
      - .env.production
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - chirra-network-prod
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U chirra -d chirra" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data:


networks:
  chirra-network-prod:
